/11-Immitation Learning/practical-task/ckpts/CartPole-v1/config.json
/11-Immitation Learning/practical-task/ckpts/CartPole-v1/discriminator.ckpt
/11-Immitation Learning/practical-task/ckpts/CartPole-v1/policy.ckpt
/11-Immitation Learning/practical-task/ckpts/CartPole-v1/results.pkl
/11-Immitation Learning/practical-task/ckpts/CartPole-v1/value.ckpt
